
body{
    background-color: #717e74;
}


#container{
    margin: 5%;
    display: flex;
    border: 2px black solid;
    border-radius: 10px;
    border-color: #2a362d;
    background-color: #2a362d;
    height: 700px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}